nav{
    display: flex;
}
.navbar{
    justify-content: space-between;
    margin: 20px;
}
.navbar-links{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    list-style: none;
}
.navbar-link{
    padding-left: 30px;
}
nav img{
    width: 150px;
}
nav ul li a, a:active{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: blueviolet;
}
