:root {
  --clr-primary-200: #f3eed9;
  --clr-primary-400: #824936;
  --clr-neutral-900: #222c21;
  --clr-neutral-100: #fff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
}
h1,
h2,
h3 {
  line-height: 1;
  font-weight: 900;
}
.bg-light {
  background-color: var(--clr-primary-200);
}
.bg-primary {
  background-color: var(--clr-primary-400);
}
.bg-dark {
  background-color: var(--clr-neutral-900);
}
